; Change the settings below to suit your needs.
; No leading spaces are allowed and comments always start with a ";" (semi-colon).
; DO NOT change the name of the section header.

; You may create copies of this file and pass to the tool like this:
; ./reach.py --config_file=<config file>

[TOOL DEFAULTS] ; Do not change this!

; Optional, uncomment this if you don't want to be prompted each time for a user name to use.
; Define the rest of the defaults values below to suit.
;SSH_USER_NAME : testuser

; Optional, uncomment this if you don't want to be prompted each time for a password to use.
; Cipher text rsa key passphrase or password
; To generate the cipher text: ./reach.py --cipher_text=<real password>
;SSH_PASSWORD_CIPHER : XXXXXXXXXXX

; Optional, uncomment this to use the specified RSA key.
;SSH_PRIVATE_KEY : /Users/randyo/.ssh/id_rsa

; Define default hosts inventory to use.  It needs to be a comma separated file with a header row.
; Be sure to define the matching HOST_MARKER (text displayed when processing)
; and KEY_COLUMN (IP used for connections) below.
;HOSTS_INPUT_FILE : /Users/randyo/dev/reach_hosts/my_inventory.csv

; Optional, will log in "logs" directory if this is commented.
;LOGS_DIRECTORY : /Users/randyo/dev/reach/logs/

; Valid values: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL : DEBUG

; Define default key column for the IP address to use for connections.
;KEY_COLUMN : IP Address

; Define the string format displayed when processing hosts.
;   $HF_# where # is the column number from the file above.
;HOST_MARKER : $HF_5 - $HF_1: $HF_3

; Safe to leave all as False or comment. Change to suit.
SHOW_HOST_DURATION : False
SHOW_CONSOLE_OUTPUT : False
RUN_IN_SIMULATION_MODE : False
DEBUG_FLAG : False
NO_DESTRUCTIVE_PROMPT : False

; Set this to True if you want to blindly trust hosts or False to use the system known_hosts file
TRUST_HOSTS : False

SSH_CONNECTION_TIMEOUT : 10

; Important to set this higher than your longest running command you plan to run.  But set it too high
; Reach won't move to the next command if the command hangs.
SSH_COMMAND_TIMEOUT : 20

; Safe to leave commented. This is the prompt regex. These are characters to expect on hosts.
; Change only if you know what you're doing. Separate different prompt with |
; Example:
;PROMPT_REGEX : ([$#] |> )$
; Default is:
;PROMPT_REGEX : [$#>]( )?$
